.logo-img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 2px solid var(--clr-primary);
}

.logo-img:hover {
    transform: translateY(-8px);
    box-shadow: var(--shadow);
}